<div class="text-center jumbotron">
    <h1 class="h1 mb-4">Welcome, @ViewData["Name"]!</h1>
    <h4>
        This is platform where you can find blood centers and donate blood if needed!
        You can find information about all centers where you can donate and where is the nearest.
        You can donate once in a 3 months. You will receive an email and a notification
        if your blood is needed.
    </h4>
    <div>
        <a asp-controller="Center" asp-action="Index" class="btn btn-outline-danger p-3 waves-effect text-uppercase">See Blood Centers</a>
    </div>
</div>